In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv(r"E:\ANALYTICS TRAINING\DATA\Absenteeism_at_work.csv")

## <font color='orange'> Loading and basic profile of a data set

In [ ]:
df.head(3)

In [ ]:
print(df.columns)

In [ ]:
df.info()

In [ ]:
# Rename columns
df.rename(columns={'Reason for absence': 'Reason',
                  'Month of absence': 'Month',
                  'Day of the week': 'Weekday',
                   'Disciplinary failure': 'Failure',
                  'Transportation expense': 'Expense',
                  'Distance from Residence to Work': 'Distance',
                  'Service time': 'ServiceTime',
                  'Work load Average/day ': 'Workload',
                   'Hit target': 'HitTarget',
                   'Son': 'Child',
                  'Social drinker': 'Drinker',
                  'Social smoker': 'Smoker',
                  'Body mass index': 'BMI',
                  'Absenteeism time in hours': 'AbsH'},
          inplace = True)
df.head(5)

In [ ]:
df['Seasons'].value_counts()

In [ ]:
df['Education']=np.where((df['Education']==1),'High school',
                np.where((df['Education']==2),'Graduate',
                np.where((df['Education']==3),'Postgraduate',
                'Master and doctor')))

In [ ]:
df['Drinker']=np.where((df['Drinker']==0),'No','Yes')

In [ ]:
df['Seasons']=np.where((df['Seasons']==1),'Summer',
              np.where((df['Seasons']==2),'Autumn',
              np.where((df['Seasons']==3),'Winter',
              "spring")))

In [ ]:
# Convert   object to categorical
cols = ['ID','Month', 'Weekday', 'Seasons',  'Failure', 'Education','Reason',
             'Child', 'Drinker', 'Smoker', 'Pet']
df[cols] = df[cols].astype('category')

In [ ]:
df.head()

In [ ]:
df.info(verbose=True)

## <font color='orange'> Data Analysis

In [ ]:
%time df.describe()   #Sumarizes the dataframe

In [ ]:
print(df.describe())

In [ ]:
df['Age'].mean()

In [ ]:
df.select_dtypes(include=['number']).mean() #Selecting only numeric variables

In [ ]:
df.select_dtypes(include=['number']).median()

In [ ]:
df.select_dtypes(include=['number']).var()

In [ ]:
print(df['Age'].quantile())

df2=df.select_dtypes(include=['number']).quantile([0.25,0.5]).T

print(df2)

In [51]:
#Correlation
correl={'Age_Abs':round(df['Age'].corr(df['AbsH']),5),
        'Age_WrkLd':round(df['Age'].corr(df['Workload']),5)}
print(type(correl))
pd.DataFrame(correl,index=['C1','C2'])

<class 'dict'>

    Age_Abs  Age_WrkLd
C1  0.06576   -0.03943
C2  0.06576   -0.03943

In [ ]:
#Correlation
df.select_dtypes(include=['number']).corr()

In [52]:
#Correlation
df['Age'].corr(df['Workload'])

np.float64(-0.03942517635646369)

In [53]:
df['Seasons'].describe() #Categorical data

count        740
unique         4
top       spring
freq         195
Name: Seasons, dtype: object

In [54]:
df['Seasons'].value_counts()

Seasons
spring    195
Autumn    192
Winter    183
Summer    170
Name: count, dtype: int64

In [56]:
df['Seasons'].value_counts().sort_values() #ascending=False

Seasons
Summer    170
Winter    183
Autumn    192
spring    195
Name: count, dtype: int64

In [55]:
df['Seasons'].value_counts().sort_index()

Seasons
Autumn    192
Summer    170
Winter    183
spring    195
Name: count, dtype: int64

In [ ]:
df['Drinker'].value_counts().sort_index()

In [57]:
df[['Seasons','Drinker']].value_counts().sort_index(ascending=[True,False])

Seasons  Drinker
Autumn   Yes        100
         No          92
Summer   Yes        109
         No          61
Winter   Yes        103
         No          80
spring   Yes        108
         No          87
Name: count, dtype: int64

In [60]:
df[['Seasons','Drinker']].value_counts().sort_index()

Seasons  Drinker
Autumn   No          92
         Yes        100
Summer   No          61
         Yes        109
Winter   No          80
         Yes        103
spring   No          87
         Yes        108
Name: count, dtype: int64

In [ ]:
#Writing csv
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG.csv', index = None, header=True)
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG2.csv', index = True, header=True)
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG3.csv', index = True, header=False)

### <font color='pink'> Group by and summaries

1:group all variables by a variable. 

2:group only one variable by another variable  

3.group by more than 1 variable

In [61]:
df_gr1=df.groupby("Seasons").count()
print(type(df_gr1))
df_gr1

<class 'pandas.core.frame.DataFrame'>

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_224\994401760.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_gr1=df.groupby("Seasons").count()

,ID,Reason,Month,Weekday,Expense,Distance,ServiceTime,Age,Workload,HitTarget,Failure,Education,Child,Drinker,Smoker,Pet,Weight,Height,BMI,AbsH
Seasons,,,,,,,,,,,,,,,,,,,,
Autumn,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192
Summer,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170
Winter,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183
spring,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195

In [62]:
df.groupby("Seasons").count().reset_index()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_224\3927874645.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Seasons").count().reset_index()

,Seasons,ID,Reason,Month,Weekday,Expense,Distance,ServiceTime,Age,Workload,...,Failure,Education,Child,Drinker,Smoker,Pet,Weight,Height,BMI,AbsH
0,Autumn,192,192,192,192,192,192,192,192,192,...,192,192,192,192,192,192,192,192,192,192
1,Summer,170,170,170,170,170,170,170,170,170,...,170,170,170,170,170,170,170,170,170,170
2,Winter,183,183,183,183,183,183,183,183,183,...,183,183,183,183,183,183,183,183,183,183
3,spring,195,195,195,195,195,195,195,195,195,...,195,195,195,195,195,195,195,195,195,195

In [63]:
df.groupby(["Seasons",'Education']).count().reset_index()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_224\2302656913.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["Seasons",'Education']).count().reset_index()

,Seasons,Education,ID,Reason,Month,Weekday,Expense,Distance,ServiceTime,Age,...,HitTarget,Failure,Child,Drinker,Smoker,Pet,Weight,Height,BMI,AbsH
0,Autumn,Graduate,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
1,Autumn,High school,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,157,157
2,Autumn,Master and doctor,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,Autumn,Postgraduate,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
4,Summer,Graduate,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
5,Summer,High school,142,142,142,142,142,142,142,142,...,142,142,142,142,142,142,142,142,142,142
6,Summer,Master and doctor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Summer,Postgraduate,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
8,Winter,Graduate,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
9,Winter,High school,141,141,141,141,141,141,141,141,...,141,141,141,141,141,141,141,141,141,141
10,Winter,Master and doctor,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
11,Winter,Postgraduate,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
12,spring,Graduate,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
13,spring,High school,171,171,171,171,171,171,171,171,...,171,171,171,171,171,171,171,171,171,171
14,spring,Master and doctor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,spring,Postgraduate,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18

In [64]:
df.groupby(["Seasons",'Education']).size().reset_index().sort_index()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_224\3802174138.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["Seasons",'Education']).size().reset_index().sort_index()

   Seasons          Education    0
0   Autumn           Graduate   13
1   Autumn        High school  157
2   Autumn  Master and doctor    1
3   Autumn       Postgraduate   21
4   Summer           Graduate   14
5   Summer        High school  142
6   Summer  Master and doctor    0
7   Summer       Postgraduate   14
8   Winter           Graduate   13
9   Winter        High school  141
10  Winter  Master and doctor    3
11  Winter       Postgraduate   26
12  spring           Graduate    6
13  spring        High school  171
14  spring  Master and doctor    0
15  spring       Postgraduate   18

In [68]:
df_gr2=df.groupby("Seasons",observed=False)['Age'].mean() #Only the observed categories are included in the result.
round(df_gr2,2)

Seasons
Autumn    35.85
Summer    36.76
Winter    37.19
spring    36.08
Name: Age, dtype: float64

In [69]:
df.groupby(["Seasons",'Education'],observed=False)['Age'].agg(['mean','std',"max",'min','count']).reset_index()

   Seasons          Education       mean       std   max   min  count
0   Autumn           Graduate  36.769231  5.117842  40.0  28.0     13
1   Autumn        High school  36.305732  6.153655  58.0  27.0    157
2   Autumn  Master and doctor  41.000000       NaN  41.0  41.0      1
3   Autumn       Postgraduate  31.619048  2.765433  37.0  30.0     21
4   Summer           Graduate  31.071429  4.232917  40.0  28.0     14
5   Summer        High school  37.647887  6.423800  58.0  27.0    142
6   Summer  Master and doctor        NaN       NaN   NaN   NaN      0
7   Summer       Postgraduate  33.500000  3.632122  37.0  30.0     14
8   Winter           Graduate  34.153846  5.814438  40.0  28.0     13
9   Winter        High school  38.354610  7.152557  58.0  27.0    141
10  Winter  Master and doctor  41.000000  0.000000  41.0  41.0      3
11  Winter       Postgraduate  31.923077  2.924696  37.0  30.0     26
12  spring           Graduate  34.500000  6.123724  40.0  28.0      6
13  spring        High school  36.491228  6.674242  58.0  28.0    171
14  spring  Master and doctor        NaN       NaN   NaN   NaN      0
15  spring       Postgraduate  32.666667  3.235829  37.0  30.0     18

In [70]:
df.groupby(['Seasons'])['Education'].count()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_224\1041134117.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Seasons'])['Education'].count()

Seasons
Autumn    192
Summer    170
Winter    183
spring    195
Name: Education, dtype: int64

### <font color='pink'> Filter, Group by and summaries

In [67]:
#Understand the need for observed=False / True
df_gr3=df.loc[df["Seasons"]=="spring"].groupby(['Education', 'Drinker',"Smoker"],observed=False)['Age'].mean()
print(df_gr3)

Education          Drinker  Smoker
Graduate           No       0         28.000000
                            1         40.000000
                   Yes      0         31.000000
                            1               NaN
High school        No       0         34.435484
                            1         36.000000
                   Yes      0         37.761905
                            1         34.000000
Master and doctor  No       0               NaN
                            1               NaN
                   Yes      0               NaN
                            1               NaN
Postgraduate       No       0         32.666667
                            1               NaN
                   Yes      0               NaN
                            1               NaN
Name: Age, dtype: float64

In [ ]:
da1=pd.read_csv("E:/ANALYTICS TRAINING/FINANCE_AUDIT/FINANCE_ANALYTICS/DATA/Pd010419_modified1.csv")

In [ ]:
da1_1=da1.iloc[0:5,0:8]
print(da1_1)

In [72]:
da1.iloc[0:5+7,0:8]

,S No,MKT,SERIES,SYMBOL,SECURITY,Industry,PREV_CL_PR,OPEN_PRICE
0,1,N,EQ,ADANIPORTS,ADANI PORT & SEZ LTD,SERVICES,378.15,380.95
1,2,N,EQ,ASIANPAINT,ASIAN PAINTS LIMITED,CONSUMER GOODS,1492.70,1496.75
2,3,N,EQ,AXISBANK,AXIS BANK LIMITED,FINANCIAL SERVICES,777.25,780.95
3,4,N,EQ,BAJAJ-AUTO,BAJAJ AUTO LIMITED,AUTOMOBILE,2911.10,2947.95
4,5,N,EQ,BAJAJFINSV,BAJAJ FINSERV LTD.,FINANCIAL SERVICES,7037.05,7090.00
5,6,N,EQ,BAJFINANCE,BAJAJ FINANCE LIMITED,FINANCIAL SERVICES,3025.00,3030.20
6,7,N,EQ,BHARTIARTL,BHARTI AIRTEL LIMITED,TELECOM,333.10,333.90
7,8,N,EQ,BPCL,BHARAT PETROLEUM CORP LT,ENERGY,397.55,398.00
8,9,N,EQ,BRITANNIA,BRITANNIA INDUSTRIES LTD,CONSUMER GOODS,3085.50,3104.95
9,10,N,EQ,CIPLA,CIPLA LTD,PHARMA,528.90,516.30
10,11,N,EQ,COALINDIA,COAL INDIA LTD,METALS,237.20,238.10
11,12,N,EQ,DRREDDY,DR. REDDY'S LABORATORIES,PHARMA,2780.25,2798.95