In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv(r"E:\ANALYTICS TRAINING\DATA\Absenteeism_at_work.csv")

## <font color='orange'> Loading and basic profile of a data set

In [ ]:
df.head(3)

In [ ]:
print(df.columns)

In [ ]:
df.info()

In [ ]:
# Rename columns
df.rename(columns={'Reason for absence': 'Reason',
                  'Month of absence': 'Month',
                  'Day of the week': 'Weekday',
                   'Disciplinary failure': 'Failure',
                  'Transportation expense': 'Expense',
                  'Distance from Residence to Work': 'Distance',
                  'Service time': 'ServiceTime',
                  'Work load Average/day ': 'Workload',
                   'Hit target': 'HitTarget',
                   'Son': 'Child',
                  'Social drinker': 'Drinker',
                  'Social smoker': 'Smoker',
                  'Body mass index': 'BMI',
                  'Absenteeism time in hours': 'AbsH'},
          inplace = True)
df.head(5)

In [ ]:
df['Seasons'].value_counts()

In [ ]:
df['Education']=np.where((df['Education']==1),'High school',
                np.where((df['Education']==2),'Graduate',
                np.where((df['Education']==3),'Postgraduate',
                'Master and doctor')))

In [ ]:
df['Drinker']=np.where((df['Drinker']==0),'No','Yes')

In [ ]:
df['Seasons']=np.where((df['Seasons']==1),'Summer',
              np.where((df['Seasons']==2),'Autumn',
              np.where((df['Seasons']==3),'Winter',
              "spring")))

In [ ]:
# Convert   object to categorical
cols = ['ID','Month', 'Weekday', 'Seasons',  'Failure', 'Education','Reason',
             'Child', 'Drinker', 'Smoker', 'Pet']
df[cols] = df[cols].astype('category')

In [ ]:
df.head()

In [ ]:
df.info(verbose=True)

## <font color='orange'> Data Analysis

In [ ]:
%time df.describe()   #Sumarizes the dataframe

In [ ]:
print(df.describe())

In [ ]:
df['Age'].mean()

In [ ]:
df.select_dtypes(include=['number']).mean() #Selecting only numeric variables

In [ ]:
df.select_dtypes(include=['number']).median()

In [ ]:
df.select_dtypes(include=['number']).var()

In [ ]:
print(df['Age'].quantile())

df2=df.select_dtypes(include=['number']).quantile([0.25,0.5]).T

print(df2)

In [ ]:
#Correlation
correl={'Age_Abs':round(df['Age'].corr(df['AbsH']),5),
        'Age_WrkLd':round(df['Age'].corr(df['Workload']),5)}
print(type(correl))
pd.DataFrame(correl,index=['C1','C2'])

In [ ]:
#Correlation
df.select_dtypes(include=['number']).corr()

In [ ]:
#Correlation
df['Age'].corr(df['Workload'])

In [ ]:
df['Seasons'].describe() #Categorical data

In [ ]:
df['Seasons'].value_counts()

In [ ]:
df['Seasons'].value_counts().sort_values() #ascending=False

In [ ]:
df['Seasons'].value_counts().sort_index()

In [ ]:
df['Drinker'].value_counts().sort_index()

In [ ]:
df[['Seasons','Drinker']].value_counts().sort_index(ascending=[True,False])

In [ ]:
df[['Seasons','Drinker']].value_counts().sort_index()

In [ ]:
#Writing csv
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG.csv', index = None, header=True)
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG2.csv', index = True, header=True)
df2.to_csv(r'E:\ANALYTICS TRAINING\PYTHON\testEG3.csv', index = True, header=False)

### <font color='pink'> Group by and summaries

1:group all variables by a variable. 

2:group only one variable by another variable  

3.group by more than 1 variable

In [ ]:
df_gr1=df.groupby("Seasons").count()
print(type(df_gr1))
df_gr1

In [ ]:
df.groupby("Seasons").count().reset_index()

In [28]:
df.groupby(["Seasons",'Education']).count().reset_index()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_9432\2302656913.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["Seasons",'Education']).count().reset_index()

,Seasons,Education,ID,Reason,Month,Weekday,Expense,Distance,ServiceTime,Age,...,HitTarget,Failure,Child,Drinker,Smoker,Pet,Weight,Height,BMI,AbsH
0,Autumn,Graduate,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
1,Autumn,High school,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,157,157
2,Autumn,Master and doctor,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,Autumn,Postgraduate,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
4,Summer,Graduate,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
5,Summer,High school,142,142,142,142,142,142,142,142,...,142,142,142,142,142,142,142,142,142,142
6,Summer,Master and doctor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Summer,Postgraduate,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
8,Winter,Graduate,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
9,Winter,High school,141,141,141,141,141,141,141,141,...,141,141,141,141,141,141,141,141,141,141
10,Winter,Master and doctor,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
11,Winter,Postgraduate,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
12,spring,Graduate,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
13,spring,High school,171,171,171,171,171,171,171,171,...,171,171,171,171,171,171,171,171,171,171
14,spring,Master and doctor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,spring,Postgraduate,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18

In [27]:
df.groupby(["Seasons",'Education']).size().reset_index().sort_index()

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_9432\1132050941.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["Seasons",'Education']).size().reset_index().sort_values(by='Education')#_index()

   Seasons          Education    0
0   Autumn           Graduate   13
4   Summer           Graduate   14
8   Winter           Graduate   13
12  spring           Graduate    6
1   Autumn        High school  157
5   Summer        High school  142
9   Winter        High school  141
13  spring        High school  171
2   Autumn  Master and doctor    1
6   Summer  Master and doctor    0
10  Winter  Master and doctor    3
14  spring  Master and doctor    0
3   Autumn       Postgraduate   21
7   Summer       Postgraduate   14
11  Winter       Postgraduate   26
15  spring       Postgraduate   18

In [29]:
df_gr2=df.groupby("Seasons",observed=False)['Age'].mean() #Only the observed categories are included in the result.
round(df_gr2,2)

Seasons
Autumn    35.85
Summer    36.76
Winter    37.19
spring    36.08
Name: Age, dtype: float64

In [31]:
df.groupby(["Seasons",'Education'],observed=True)['Age'].agg(['mean','std',"max",'min','count']).reset_index()

   Seasons          Education       mean       std  max  min  count
0   Autumn           Graduate  36.769231  5.117842   40   28     13
1   Autumn        High school  36.305732  6.153655   58   27    157
2   Autumn  Master and doctor  41.000000       NaN   41   41      1
3   Autumn       Postgraduate  31.619048  2.765433   37   30     21
4   Summer           Graduate  31.071429  4.232917   40   28     14
5   Summer        High school  37.647887  6.423800   58   27    142
6   Summer       Postgraduate  33.500000  3.632122   37   30     14
7   Winter           Graduate  34.153846  5.814438   40   28     13
8   Winter        High school  38.354610  7.152557   58   27    141
9   Winter  Master and doctor  41.000000  0.000000   41   41      3
10  Winter       Postgraduate  31.923077  2.924696   37   30     26
11  spring           Graduate  34.500000  6.123724   40   28      6
12  spring        High school  36.491228  6.674242   58   28    171
13  spring       Postgraduate  32.666667  3.235829   37   30     18

In [ ]:
df.groupby(['Seasons'])['Education'].count()

### <font color='pink'> Filter, Group by and summaries

In [32]:
#Understand the need for observed=False / True
df_gr3=df.loc[df["Seasons"]=="spring"].groupby(['Education', 'Drinker',"Smoker"],observed=False)['Age'].mean()
print(df_gr3)

Education          Drinker  Smoker
Graduate           No       0         28.000000
                            1         40.000000
                   Yes      0         31.000000
                            1               NaN
High school        No       0         34.435484
                            1         36.000000
                   Yes      0         37.761905
                            1         34.000000
Master and doctor  No       0               NaN
                            1               NaN
                   Yes      0               NaN
                            1               NaN
Postgraduate       No       0         32.666667
                            1               NaN
                   Yes      0               NaN
                            1               NaN
Name: Age, dtype: float64

In [33]:
df['Age'].mean()

np.float64(36.45)