In [ ]:
import pandas as pd

# <font color='yellow'> Pandas - Cleaning Data

Data cleaning means fixing bad data in your data set.

  * Bad data could be:

  * Empty cells

  * Data in wrong format

  * Wrong data

  * Duplicates

# <font color='yellow'> Pandas - Cleaning Empty Cells

Empty cells can potentially give you a wrong result when you analyze data.

Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

**If the data set is sufficiently large then removing a few rows may not have a big impact on the result**

## <font color='orange'> Return a new Data Frame with no empty cells:

In [ ]:

df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
new_df = df.dropna()
print(new_df.to_string())

If you want to change the original DataFrame, use the inplace = True argument:

Remove all rows with NULL values:

In [ ]:
import pandas as pd
df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
df.dropna(inplace = True)
print(df.to_string())

# Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

Replace NULL values with the number 130:

In [ ]:
import pandas as pd
df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
df.fillna(130, inplace = True)

# Replace Only For a Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

Replace NULL values in the "Calories" columns with the number 130:

In [ ]:
import pandas as pd
df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
df["Calories"].fillna(130, inplace = True)

# Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

Calculate the MEAN, and replace any empty values with it:

In [ ]:
import pandas as pd
df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)

Calculate the MEDIAN, and replace any empty values with it:

In [ ]:
import pandas as pd
#df = pd.read_csv('data.csv')
x = df["Calories"].median()
df["Calories"].fillna(x, inplace = True)

# Pandas - Cleaning Data of Wrong Format
Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

Convert Into a Correct Format
In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date:

Let's try to convert all cells in the 'Date' column into dates.

Pandas has a to_datetime() method for this:

In [ ]:
import pandas as pd
df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

# Pandas - Fixing Wrong Data
Wrong Data
"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.

If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.

It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

How can we fix wrong values, like the one for "Duration" in row 7?

# Replacing Values
One way to fix wrong values is to replace them with something else.

In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7:

Set "Duration" = 45 in row 7:

In [ ]:
df.loc[7, 'Duration'] = 45

For small data sets you might be able to replace the wrong data one by one, but not for big data sets.

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

Loop through all values in the "Duration" column.

If the value is higher than 120, set it to 120:

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

# Removing Rows
Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

Delete rows where "Duration" is higher than 120:

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

# Pandas - Removing Duplicates
Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

Returns True for every row that is a duplicate, othwerwise False:

In [ ]:
print(df.duplicated())

# Removing Duplicates
To remove duplicates, use the drop_duplicates() method.

Remove all duplicates:

In [ ]:
df.drop_duplicates(inplace = True)

# Pandas - Data Correlations
Finding Relationships

A great aspect of the Pandas module is the corr() method.

The corr() method calculates the relationship between each column in your data set.

Show the relationship between the columns:

In [ ]:
df.corr()

# Result Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

Perfect Correlation:
We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

Good Correlation:
"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

Bad Correlation:
"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.