In [1]:
import pandas as pd
import numpy as np

In [2]:
da1=pd.read_csv("E:/ANALYTICS TRAINING/FINANCE_AUDIT/FINANCE_ANALYTICS/DATA/Pd010419_modified1.csv")

In [ ]:
da1.columns

## <font color='Orange'> Pandas - Merge / Join

In [3]:
da1_1=da1.iloc[0:5,0:8]
da1_1.columns

Index(['S No', 'MKT', 'SERIES', 'SYMBOL', 'SECURITY', 'Industry', 'PREV_CL_PR',
       'OPEN_PRICE'],
      dtype='object')

In [4]:
cols=np.concatenate([np.array([1, 3]), np.array(list(range(8,17)))])
cols

array([ 1,  3,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [5]:
da1_2=da1.iloc[[0,1,2,5],cols]
da1_2.columns

Index(['MKT', 'SYMBOL', 'HIGH_PRICE', 'LOW_PRICE', 'CLOSE_PRICE', 'NET_TRDVAL',
       'NET_TRDQTY', 'IND_SEC', 'TRADES', 'HI_52_WK', 'LO_52_WK'],
      dtype='object')

In [6]:
#da1_1 Industry col 3rd row and 
#da1_2 High_price col 1st row made empty
da1_1.loc[2,"Industry"]=" "
da1_2.loc[0,"HIGH_PRICE"]=""

C:\Users\Subbi.DESKTOP-L4TAD5C\AppData\Local\Temp\ipykernel_8988\1809072913.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  da1_2.loc[0,"HIGH_PRICE"]=""

In [ ]:
#inner join
da1_Ij=pd.merge(da1_1,da1_2,on="SYMBOL",how="inner")
da1_Ij

In [ ]:
da1_Ij.shape

In [ ]:
#inner join -with more than one variable
da1_Ij2=pd.merge(da1_1,da1_2,on=["SYMBOL","MKT"], how="inner")
da1_Ij2

In [ ]:
da1_Ij2.shape

In [ ]:
#left join -with more than one variable
da1_Lj=pd.merge(da1_1,da1_2,on=["SYMBOL","MKT"], how="left")
da1_Lj

In [ ]:
da1_Lj.shape

In [ ]:
#Right join -with more than one variable
da1_Rj=pd.merge(da1_1,da1_2,on=["SYMBOL","MKT"], how="right")
da1_Rj

In [ ]:
da1_Rj.shape

In [ ]:
#Outer join -with more than one variable
da1_Oj=pd.merge(da1_1,da1_2,on=["SYMBOL","MKT"], how="outer")
da1_Oj

In [ ]:
da1_Oj.shape

In [ ]:
#Cross join -with one variable from each data set
da1_Cj=pd.merge(da1_1[["Industry"]],da1_2,how="cross")
da1_Cj

In [ ]:
da1_Cj.shape

## <font color='orange'> Pandas - Lead / Lag

In [8]:
da1["CLOSE_PRICE"]

0       383.05
1      1492.75
2       765.60
3      2915.65
4      7158.80
        ...
495      61.15
496    1505.70
497     455.00
498     230.60
499    1322.05
Name: CLOSE_PRICE, Length: 500, dtype: float64

In [7]:
#da1[''CLOSE_PRICE_Lag]=
da1["CLOSE_PRICE"].shift(1)

0          NaN
1       383.05
2      1492.75
3       765.60
4      2915.65
        ...
495     146.85
496      61.15
497    1505.70
498     455.00
499     230.60
Name: CLOSE_PRICE, Length: 500, dtype: float64

In [ ]:
da1_Auto=da1[da1['Industry']=="AUTOMOBILE"].sort_values(by='SYMBOL')

In [ ]:
da1_Auto=da1.loc[da1['Industry']=="AUTOMOBILE"].sort_values(by='SYMBOL')

In [ ]:
da1_Auto['close_lag']=da1_Auto["CLOSE_PRICE"].shift(1)
da1_Auto.columns

In [ ]:
da1_Auto['close_diff']=da1_Auto["CLOSE_PRICE"]-da1_Auto['close_lag']
da1_Auto.columns

In [ ]:
da1_Auto['close_per_diff']=100*da1_Auto['close_diff']/da1_Auto["CLOSE_PRICE"]
da1_Auto.columns

In [ ]:
da1_Auto.tail()

In [ ]:
da1_Auto['close_lead']=da1_Auto["CLOSE_PRICE"].shift(-1)
da1_Auto.columns

## <font color='orange'> Pandas - Data Cleaning

Data cleaning might be required when the given data set has

 * Empty cells

 * Data in wrong format

 * Wrong data

 * Duplicates

### <font color='pink'> Pandas - Handling Empty Cells (NA / NaN)

In [ ]:
df_mv = pd.read_csv(r'E:\ANALYTICS TRAINING\Data\MissingValuesData.csv')

In [ ]:
df_mv

In [ ]:
df_mv.isna()

In [ ]:
na1=np.where(pd.isnull(df_mv))

print(na1)

In [ ]:
#df_mv.iloc[na1[0],na1[1]]

#or

for row, col in zip(na1[0], na1[1]):
    print(f"Row {row}, Column {df_mv.columns[col]}")

In [ ]:
new_df = df.dropna()
print(new_df.to_string())

In [ ]:
#number of Missing values
print(np.array(na1[0]).size)

print(np.array(na1[1]).size)

In [ ]:
np.where(pd.isnull(df_mv["All Time Peak"]))

In [ ]:
len(np.where(pd.isnull(df_mv["All Time Peak"]))[0])

In [ ]:
df_mv["All Time Peak"].mean()

In [ ]:
df_mv["All Time Peak"].mean(skipna=False)

In [ ]:
#df_mv["All Time Peak"].std(skipna=False)
df_mv["All Time Peak"].std(skipna=True)

In [ ]:
#In quantile() No Need for skipna 
df_mv["All Time Peak"].quantile(0.5)

In [ ]:
df_mv.dropna()

### <font color='yellowgreen'> Note Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

**If the data set is sufficiently large then removing a few rows may not have a big impact on the result**

### <font color='yellowgreen'> Note - Remove Rows - Save - New or Existing   
Remove all rows with NULL values and save it as a new DF 

or

If you want to change the original DataFrame, use the inplace = True argument

In [ ]:
df_mv1 = df_mv.dropna()
print(df_mv1)# .to_string())

#df = pd.read_csv('C://Users//lmohan2//Desktop//New folder//test//dirtydata.csv')
#df.dropna(inplace = True)
#print(df.to_string())

### <font color='pink'> Replace Empty cells - Only For a Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

Replace NULL values in the "Calories" columns with the number 130:

In [ ]:
#df_mv["Peak"].fillna(20, inplace = True)

df_mv.fillna({"Peak":20, "All Time Peak":100},inplace=True)

In [ ]:
df_mv

### <font color='pink'> Replace Empty Values - In the Entire data set

The fillna() method can be used to replace empty cells (in the whole of df) with a value

In [ ]:
df_mv.fillna(value = 5)

### <font color='pink'> Replace Using Mean, Median, or Mode

For a numeric column than has empty cells, it is possible to fill with some summaries like, mean, median

Calculate the MEAN, and replace any empty values with it:

In [ ]:
#replace empty values with mean
pe_me = df_mv["Peak"].mean()
df_mv.fillna({"Peak":pe_me}, inplace = True)

In [ ]:
df_mv

### <font color='pink'> Cleaning Data of Wrong Format

If a column is in a wrong format, then it may not be possible to analyze data. Either we may remove such a column or covert it into the correct format

In [ ]:
df_uncle = pd.read_csv(r'E:\ANALYTICS TRAINING\Data\UncleanedData_Eg.csv')

In [ ]:
print(df_uncle)

In [ ]:
df_uncle.info()

<font color='yellowgreen'> **Time Date Format**

In [ ]:
df_uncle['Date'] = pd.to_datetime(df_uncle['Date'])
df_uncle.info()

<font color='yellowgreen'> **Typo Errors / Wrong values**

In [ ]:
df_uncle['Duration'] = pd.to_numeric(df_uncle['Duration'])
df_uncle.info()

In [ ]:
df_uncle['Duration1'] = pd.to_numeric(df_uncle['Duration'],errors='coerce')
df_uncle.info()

In [ ]:
df_uncle['Duration1']

<font color='yellowgreen'> **Conditional - Data Validation**

In [ ]:
for x in df_uncle.index:
  if df_uncle.loc[x, "Duration1"] > 100:
    df_uncle.loc[x, "Duration1"] = 100

In [ ]:
df_uncle["Duration1"] #NA values will not be altered

<font color='yellowgreen'> **Removing Rows**

It is possible to remove the rows that contains wrong data.

In [ ]:
df_uncle["Duration2"]=df_uncle["Duration1"]

In [ ]:
for x in df_uncle.index:
  if df_uncle.loc[x, "Duration2"] > 90:
    df_uncle.drop(x, inplace = True)

In [ ]:
df_uncle["Duration2"]

### <font color='pink'> Locating Duplicates

Some rows might have repeated values that may be due to unnoticed values like a candidate may be registered more than one time.

The duplicated() method can be used t0 check this that returns a Boolean values for each row (True for every row that is a duplicate, othwerwise False)

In [ ]:
df_uncle = pd.read_csv(r'E:\ANALYTICS TRAINING\Data\UncleanedData_Eg.csv')

In [ ]:
print(df_uncle.duplicated())

In [ ]:
np.where(df_uncle.duplicated())

In [ ]:
df_uncle.iloc[[11,12],:]

In [ ]:
print(df_uncle.duplicated("Duration"))

In [ ]:
df_uncle

### <font color='pink'> Removing Duplicates

use the drop_duplicates() method.

In [ ]:
df_uncle.drop_duplicates(inplace = True) #whole DF, remove the repeated row

In [ ]:
df_uncle["Pulse"].drop_duplicates(inplace = True) #specific column, remove the repeated row

In [ ]:
print(df_uncle["Pulse"])