# <font color='yellow'> Pandas Introduction

## <font color='orange'> What is Pandas?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

## <font color='Orange'> Why Use Pandas?

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

If a library is not installed, install them from pip (Python's package installer)

**!pip install pandas or !pip install numpy**

In [55]:
import pandas as pd
import numpy as np

## <font color='orange'>  Pandas Series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

## <font color='orange'> Labels

If nothing else is specified, the values are labeled with their index number.

**First value has index 0, second value has index 1 etc**.

This label can be used to access a specified value.

Return the first value of the Series:print(myvar[0])
    
Create Labels

With the index argument, you can name your own labels.

# <font color='orange'> Key Objects as Series

You can also use a key/value object, like a dictionary, when creating a Series.

Create a simple Pandas Series from a dictionary:

In [ ]:
#Creating a series

a = [1, 7, 2]

myvar = pd.Series(a)

myvar1 = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar1)

In [ ]:
#using tuple
t1=(1,2,3,4)
t1S=pd.Series(t1,index=["A","B","C","D"])
print(t1S)

In [ ]:
#using list
L1=[1,2,3,4]
L1S=pd.Series(L1,index=["A","B","C","D"])
print(L1S)

In [ ]:
#using dict
d1={"x":"asdf",1:12,'1':"mnb"}
d1S=pd.Series(d1)
print(d1S)

In [ ]:
#using numpy
a1=np.array([1,2,3,4]) 
a1S=pd.Series(a1)
print(a1S)

s11=np.round(np.arange(1,10,1/7,dtype=float),3)
s1=pd.Series(s11)
print(s1)

In [ ]:
print(t1S+2)
print(d1S*3)
print(s**4)
print(np.round(s1/7,2))
print(L1S**L1S)

# <font color='orange'> Named Indexes in Series

With the index argument, you can name your own indexes.

Add a list of names to give each row a name:

### <font color='pink'> Locate Named Indexes *loc* attribute

Use the named index in the loc attribute to return the specified row(s).

Return "day2":

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

In [ ]:
myvar.loc['day2']

## <font color='Orange'> DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Series is like a column, a DataFrame is the whole table.

Create a DataFrame from two Series:

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
EX = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(EX)

## <font color='orange'> Dictionary to DF

In [ ]:
# Making dataframe from a dictionary
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                         'F': 'foo'},index=(1,2,3,4))

## <font color='orange'> List to DF

In [ ]:
# list of strings
lst = ['alpha', 'beta', 'gamma', 'delta', '0', '1', '2']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

## <font color='orange'> Read / Load a CSV from the local drive

In [ ]:
df = pd.read_csv(r"E:\ANALYTICS TRAINING\Data\Wage.csv") #r: Raw string literals â€” treats backslashes literally

## <font color='orange'> Data Information

The DataFrames object has a method called info(), that gives you more information about the data set.

In [ ]:
print(df)

In [ ]:
print(df.info())

In [ ]:
print(df.dtypes)

### <font color='pink'>Change the data type for a single / multiple variables

In [ ]:
df['maritl'] = df['maritl'].astype('object')

df[['race','education']] = df[['race','education']].astype('object')

df[['region','jobclass','health','health_ins']] = df[['region','jobclass','health','health_ins']].astype('object')

df['year']=df['year'].astype('string')

df['ID']=df['ID'].astype('string')

In [ ]:
print(df.info())

In [ ]:
print(df.dtypes)

In [ ]:
print(df.shape)
print(df.ndim)
print(df.size)

In [ ]:
print(df.head(5))

In [ ]:
print(df.tail())
print(df.tail(2))

In [ ]:
print(df.columns)    # for reading the headers

In [ ]:
df['race'].unique() #Getting the levels of a categorical data

In [ ]:
df.race.value_counts() #counts for levels of a categorical data

### <font color='pink'> changing value of a cell using iat or at

In [ ]:
print(df.iat[0,2])
df.iat[0,2]=555
print(df.iat[0,2])

In [ ]:
print(df.at[0,'age']) 
df.at[0,'age']  = 100
print(df.at[0,'age']) 
df.at[2, 'age'] = 200
print(df.at[0,'age'])

## <font color='Yellow'> DATA HANDLING

## <font color='orange'> Subsetting and Transformations

### <font color='pink'> Column Name and / or Indices

In [ ]:
print(df.age) #Extract the column "age"

In [ ]:
print(df['age'][0:6])    # give the column name for printing all the elements from the chosen rows

In [ ]:
print(df[['age', 'maritl', 'race']])  # giving multiple column names inside lists - two square brackets

In [ ]:
df.race.value_counts() #Count the number of items in each level of a categorical variable

## <font color='orange'> Locate Row

A DataFrame is a 2-dimensional table with rows and columns.

Pandas use the **loc** attribute to return one or more specified row(s)

In [ ]:
print(df.loc[0]) #Return row 0

print(df.loc[[0, 1]]) #Return rows 0 and 1

print(df.loc[0:5]) #Return rows 0 to 5 (both inclusive)

## <font color='orange'> *loc* and column names

In [ ]:
singcol=df.loc[0:5]['age']
print(singcol)
print(type(singcol))

In [ ]:
df.loc[0:5][['age','race']] #Multiple columns

## <font color='orange'> Usage of *iloc*

*iloc* is used to access data by row and column indices as **integers**

Syntax: df.iloc[row_index, column_index]

The row and column indices must be integers

In [ ]:
print(df.iloc[2:6])  # print elements from specified range

In [ ]:
print(df.iloc[2:6, 1]) # Extract the required index / column

print(df.iloc[2:6,1:3])

In [ ]:
print(df.iloc[2, 1])    # Extract 3rd row and 2nd column - passing index (rows) and column numbers as arguments

## <font color='orange'> Difference between iloc and loc

In [ ]:
eg_df = pd.DataFrame({
    'SNo': [101, 102, 103],
    'Mark': [45, 84, 63]}, 
    index=['S1', 'S2', 'S3']) 
eg_df

In [ ]:
eg_df.iloc[1, 1] #Extract 2nd row and 2nd column - indices are integers

In [ ]:
eg_df.loc["S2", "Mark"] #Labels are used to extract

## <font color='orange'> Selected Rows, all Columns OR Selected Columns, all Rows

In [ ]:
print(df.iloc[2:6,:])

print(df.iloc[ :,0:2])

In [ ]:
for index, row in df.iterrows():            #Iterate over DataFrame rows
  print(index, row['age'])   # or just put print(index, row)

## <font color='orange'> Filter (subset) using *loc*

In [ ]:
df.loc[df['race']=='1. White']

In [ ]:
df.loc[(df['race']=='1. White')| (df['race']=='2. Black')] # Usage of or logic - "|"

In [ ]:
df.loc[(df['race']=='1. White')& (df['age']%3!=0)] # Usage of and logic - "&"

In [ ]:
df.loc[(df['race']=='1. White')& (df['age']%2==0)]

In [ ]:
df.loc[((df['race']=='1. White')|(df['race']=='2. Black')) & (df['age']%20==0)]

## <font color='orange'> *loc* within a column

Filtering can be done on a single or multiple columns conditioned on other columns

In [ ]:
ex1=df.loc[(df['age']%8==0)&(df['age']>24)&(df['wage']<1000)] #Whole data set

print(ex1)

In [ ]:
ex2=df['race'].loc[(df['age']%2==0)&(df['age']>10)&(df['wage']<1000)] #Only one column

print(ex2)
print(ex2.unique())

In [ ]:
df[['race','maritl']].loc[(df['wage']<1000)&(df['age']>25)]

In [ ]:
df.loc[df['cycle']%28==0]

## <font color='orange'>Sort a DF based on a column

In [ ]:
df.sort_values('race', ascending = False) #default: True

### <font color='pink'> sorting by one or more columns

In [ ]:
df_sort1=df.sort_values(by=['race'])
df_sort1.head()

In [ ]:
df_sort2=df.sort_values(by=['race','age'])
df_sort2.head()

In [ ]:
df_sort3=df.sort_values(by=['age','race'], ascending = False)
df_sort3.head(20)

In [ ]:
df_sort3=df.sort_values(by=['age','wage'], ascending = [True,False])
df_sort3.head(20)

## <font color='orange'> Creating a new column

### <font color='pink'> Addition of existing two numeric columns

In [ ]:
df['Total'] = df['wage'] + df['logwage']
print(df['Total'])

In [ ]:
#Alternately, use column index
df1=df.iloc[:, 10]+df.iloc[:, 11]
print(df1)

In [ ]:
#or
df2=df['Total'] = df.iloc[:, 10:12].sum(axis=1)
print(df1)

### <font color='pink'> Using lambda function

In [ ]:
file1 = pd.DataFrame({
    'name': ['Amba','Baskar','Charlie','Darwin'],
    'age': [25,66,56,78]
})

In [ ]:
file1.assign(
    is_senior = lambda dataframe: dataframe['age'].map(lambda x: "Senior" if x >= 65 else "NonSenior"),
    is_senior1 = lambda dataframe: dataframe['age'].map(lambda x: True if x >= 65 else False)
)

In [ ]:
file1.assign(
    is_senior = lambda dataframe: dataframe['age'].map(lambda age: True if age >= 65 else False) ,
    ).assign(
    name_uppercase = lambda dataframe: dataframe['name'].map(lambda name: name.upper()),
    ).assign(
    name_uppercase_double = lambda dataframe: dataframe['name_uppercase'].map(lambda name: name.upper()+"-"+name.upper()))

In [ ]:
#Generate a subset of a DF  
rr=np.random.choice(np.arange(100, 226), size=5, replace=False) #randomly generate numbers without replacement
print(rr)
df_1=df[df.index.isin(rr)]
print(df_1)

## <font color='orange'> Named Index in a DF

In [ ]:
#recall this df created earlier
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
EX = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(EX)

In [ ]:
print(EX.loc["day2"])

print(EX.loc[["day2",'day3']])

## <font color='orange'> Transpose of a DF

In [57]:
credit1 = {'Income': [14.891, 106.025, 104.593, 148.924,  55.882],
        'Age': [34, 82, 71, 36, 68],
        'Gender': ["Male",  "Female",  "Male", "Female",  "Male"],
        'Balance': [333, 903, 580, 964, 331]}

credit = pd.DataFrame(credit1)

pd.options.display.max_rows = None #Can set the number of columns to print

print(credit)

print(credit.T)

    Income  Age  Gender  Balance
0   14.891   34    Male      333
1  106.025   82  Female      903
2  104.593   71    Male      580
3  148.924   36  Female      964
4   55.882   68    Male      331
              0        1        2        3       4
Income   14.891  106.025  104.593  148.924  55.882
Age          34       82       71       36      68
Gender     Male   Female     Male   Female    Male
Balance     333      903      580      964     331

## <font color='orange'> Dropping columns / rows

In [ ]:
drop_col=['Age','Gender']

cr_dropped=credit.drop(columns=drop_col,index = [0,1])

print(cr_dropped)

## <font color='orange'> Rename the columns and index (row names)

In [ ]:
cr=credit.rename(columns={"Income": "In", "Age": "Ag", "Gender": "Ge","Balance":"Ba"})
print(cr.columns)

In [ ]:
credit.T.rename(index={"Income": "In", "Age": "Ag", "Gender": "Ge","Balance":"Ba"})

In [ ]:
credit.rename(index={0: "R0", 1: 'R1',2: 'R2', 3: 'R3',4:"R4",5:"R5"})

## <font color='orange'> Reorder the columns and index (row names)

In [ ]:
new_col_order = ['Age', 'Income']

print(credit[new_col_order])

In [ ]:
new_col_order = ['Gender', 'Age', 'Income','Balance']

print(credit[new_col_order])

In [ ]:
new_ind_order = [0,2,3,4,1]
credit_ind_reord = credit.loc[new_ind_order]
print(credit_ind_reord)

## <font color='orange'> Limit the number of rows / columns to print

In [ ]:
pd.options.display.max_rows = 2 
pd.options.display.max_columns = 2

print(credit)

print(credit.T)

## <font color='orange'> Creating a column using assign()

In [ ]:
credit_1=credit.assign(b_a=(credit.Balance/credit.Age))
print(credit_1)

## <font color='orange'>  Adding rows of a DF using concat()

In [60]:
credit2 = pd.DataFrame([[58, 67,"Male",500], [37, 28,"Female",900]],columns=list(credit.columns),index=["n1","n2"])
credit3=pd.concat([credit, credit2], ignore_index=False)
print(credit3)

     Income  Age  Gender  Balance
0    14.891   34    Male      333
1   106.025   82  Female      903
2   104.593   71    Male      580
3   148.924   36  Female      964
4    55.882   68    Male      331
n1   58.000   67    Male      500
n2   37.000   28  Female      900

## <font color='orange'>  Conditional subset

In [ ]:
print(credit.loc[credit.Age < 40])

print("only one column")
print(credit.loc[credit.Age < 40,'Age'])

print("More than one column")
print(credit.loc[credit.Age < 40,['Balance',"Gender"]])

In [ ]:
#Categorical data
credit[credit.Gender == 'Male']

In [ ]:
#Categorical data
df[df['Gender'].isin(['Male'])]

In [ ]:
#Categorical data
df[df['race'].isin(['1. White', '3. Asian'])]

## <font color='orange'>  Replace existing value of a column by a new value

In [ ]:
credit['Gender'].replace({'M': 'm', 'Female': 'F'}, inplace=True)
print(credit)

## <font color='orange'>  Changing the rows and column names - Existing DF

In [ ]:
credit.index=list("ABCDE")
print(credit)

credit.index=['R1','R2','R3','R4','R5']
print(credit)


credit.columns=['happy','sad','normal','angry']
print(credit)

In [ ]:
# For a new DF - default index and column 

somenum=np.random.randn(5,4)

dafr=pd.DataFrame(somenum)
print(dafr)

# For a new DF - user defined index and column 

dafr1 = pd.DataFrame(somenum, index=list("ABCDE"), columns=['happy','sad','normal','angry'])
print(dafr1)

### <font color='pink'> Writing to a csv

In [ ]:
dafr1.to_csv('E:\\testEG.csv', index = None, header=True)
dafr1.to_csv('E:\\testEG2.csv', index = True, header=True)
dafr1.to_csv('E:\\testEG3.csv', index = True, header=False)

## <font color='orange'>  Missing Values - A Quick Introduction

In [ ]:
df_mv=pd.read_csv(r"E:\ANALYTICS TRAINING\Data\dat_MissVal.csv")
df_mv

### <font color='pink'> Identify the location / size of MVs

In [ ]:
na1=np.where(pd.isnull(df_mv))

print(na1)

for row, col in zip(na1[0], na1[1]):
    print(f"Row {row}, Column {df_mv.columns[col]}")
    
#number of Missing values
print(np.array(na1[0]).size)

print(np.array(na1).size)

print(len(na1))

In [ ]:
df_mv["A"].mean()

In [ ]:
df_mv.mean(skipna=False)

In [ ]:
df_mv.isna()

In [ ]:
df_mv.dropna()

In [ ]:
df_mv.fillna(value = 5)

# <font color = yellow> Summary PANDAS Major Functions

## <font color = 'orange'> Import libraries **pandas as pd** and **numpy as np**

1. <font color = 'pink'>**Loading a data set in csv (as a DataFrame,df)**

      read_csv()

1. <font color = 'pink'>**Know the structure**

      df.shape (df.size, optional,dimension for rectangular data is always 2)

1. <font color = 'pink'>**Know the names of columns**

      df.columns

1. <font color = 'pink'>**To view few rows**

      * df
      * df.head()
      * df.tail()
      
        - inside ( ) type any positive integer to get as many rows

1. <font color = 'pink'>**Know the structure of DF (nature of variables)**

      df. dtypes (df.info(verbose=True) is optional)

    Major Data types

      * float64
      * int64
      * category
      * object

1. <font color = 'pink'>**Change the nature of a variable**

      df['column'] = df['column'].astype( )

1. <font color = 'pink'>**Know the presence of *NA* or *NaN***
      * pd.isna(df)
      * pd.isnull(df)
      * df.isna()
      * df.isnull()
      
  To know the row / column indices - presence of NA
      * np.where(pd.isna(ecg_data))

  Row / column indices - presence of NA as a DF
      * pd.DataFrame(list( ),index=["R","C"]).T

        *R and C are column names and T is to transpose*

1. <font color = 'pink'>**To *sort* by columns**
      
      df.sort_values(by=['C1','C2],axis=0, ascending=True, na_position= â€˜lastâ€™)

1. <font color = 'pink'>**To *sort* by rows**      
      
      df.sort_values(by=index values,axis=1, ascending=True, na_position= â€˜lastâ€™), index values are row names

1. <font color = 'pink'>**To *change* the nature of a variable**
      
      df.select_dtypes(' ') - inside (' ') type the required nature (like float64)

1. <font color = 'pink'>**To *count* based on distinct value (numeric) or distinct level of a categorical variable**

      df.C.value_counts() - C is the name of the column (variable) to count

1. <font color = 'pink'>**To *replace* a value**
      
      df.replace(existing value,new value)

1. <font color = 'pink'>**To *create* a new variable**

      df['new variable'] = any suitable operations (changes can be made in a same variable, instead of *new variable* use the existing variable name)

1. <font color = 'pink'>**Conditionally create a column (variable)**  

### using if, elif, else

for i in df.index:
  
    if (df.loc[i,"column"] condition 2):
      df.loc[i,'new column']=value 1
    elif((df.loc[i,"column"] condition 2) & (df.loc[i,"new_column"] condition 3)):
      df.loc[i,'new_column']=value 2
    else:
      df.loc[i,'new column']= value 3

### Using conditions and choices and np.select

conditions = [(df["column"].condition 1),
    (df["column"].condition 2 & df["column"].condition 3),
    (df["column"].condition 4]
    
choices = [value 1, value 2]
    
df["new column"] = np.select(conditions, choices)


### Using np.where

    df['new column']=np.where((df["column"]condition 1),value 1,

                    np.where((df['column'] condition 2) & (df['column'] condition 3), value 2,

                   'value 3'))

### Remark - while  adding columns conditionally

<font color="pink"> condition 1,2,3... may be the required logical (lt(10), ge(10), == etc) expressions the esixting column would satisfy

<font color="pink"> Value 1, 2.. are corresponding numeric or string values the new column will assume  (nmeric or string uniformly)

<font color="pink"> df["new column"].value_counts(sort=False) to get the counts as per the order of definition

1. <font color = 'pink'> **Subset / Slicing /Filtering**
      
      d1[1,2] - First row and 3rd column

      d1.iloc[0:2,] - first two rows and all columns

      d1.iloc[2:,] - all the rows from third row and all columns

      d1.iloc[:,1] - second column and all rows

      ### Conditional (usage of "&", "|" (and , or))
      
      df.loc[(df['var'] >= ) & (df['var'] < )| (df['var]== )]